pip install streamlit

pip install opencv-python
pip install numpy
pip install pillow
pip install ultralytics
pip install matplotlib
pip install scikit-learn
pip install torch torchvision --index-url https://download.pytorch.org/whl/cpu